/* Place CSS styles here */

* {
box-sizing: border-box;
}

.wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 75px;
  border-radius: 20px;
  border: 1px solid black;
}

a {
  color: grey;
  text-decoration: none;
  border: 1px solid transparent;
}

.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  color: rgb(107, 154, 190);
  text-shadow: 1px 2px 3px #000000;
  font-size: 100px;
  background-color: white;
  border: 2px solid black;
  font-family: "Ultra", serif;
}

h2 {
  text-align: center;
  color: rgb(107, 154, 190);
  font-family: "Ultra", serif;
  font-weight: 700;
  text-shadow: rgb(0, 0, 0) 1px 2px 3px;
}

.photo-gallery { 
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  gap: 20px;
} 

.top-image {
  text-align: center;
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
  border: 1px solid rgb(107, 154, 190);
}

.Morales {
  background-image: url("../img/Morales.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;
  margin-top: 20px;
  padding: 20px;
  margin-left: 55px;
}

.footer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: black;
  background-color: white;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}


body {
  background-color: bisque;
}










































































































